logs/
target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
uploads/
tmp/
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/

### Config Files
src/main/resources/profiles/staging/
src/main/resources/profiles/prod/
/fund_transfer/

## vim
*.swp
*.swo
